.cardStyle{
    height: 165px;
    width: 111px;
    display: inline-block;
    margin: 8px 100px;
    
    
}
 img{
    border: 3px solid red;
    height: auto;
    width: 100%;
 }

 img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 16px white; 
 }